@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'iA Quattro';
  font-weight: 100 1000;
  font-display: swap;
  src: url('/fonts/iAWriterQuattroV.woff2') format('woff2-variations');
	unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'iA Quattro';
  font-weight: 100 1000;
  font-display: swap;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.woff2') format('woff2-variations');
	unicode-range: U+000-5FF;
}

@layer base {
  body {
    @apply font-mono;
  }

	table, th, td {
		border: 1px solid #999;
		padding: .5rem;
		width: fit-content;
	}

	.footnote-label {

		font-size: 1rem;
	}

	ol {
		list-style-type: decimal;
		padding-left: 1rem;
		padding-top: 1rem;
	}
}
