@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'iA Quattro';
  font-weight: 100 1000;
  font-display: fallback;
  src: url('/fonts/iAWriterQuattroV.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'iA Quattro';
  font-weight: 100 1000;
  font-display: fallback;
  font-style: italic;
  src: url('/fonts/iAWriterQuattroV-Italic.woff2') format('woff2-variations');
}

@layer base {
  body {
    @apply font-mono;
  }
}
