---
import Layout from '../layouts/Layout.astro';
---

<Layout frontmatter={{ title: 'Impressum' }}>
	<a href="/" class="text-sm underline decoration-neutral-400 hover:decoration-neutral-500 dark:decoration-neutral-600 dark:hover:decoration-neutral-500 transition-colors decoration-[1.25px] select-none">&larr; Back</a>

	<section class="grid gap-2 text-sm">
		<h3 class="text-xs font-mono font-light uppercase text-neutral-600 dark:text-neutral-400 select-none cursor-default">Angaben gemäẞ § 5 TMG</h3>

		<div>
			<p>Parsify Technologies</p>
			<p>Inhaber: Antoni Kępiński</p>
		</div>

		<div>
			<p>Heubnerweg 11A</p>
			<p>14059 Berlin</p>
			<p>Deutschland</p>
		</div>

		<div>
			<p>E-Mail: <a href="mailto:inquiries@parsify.eu" class="underline decoration-neutral-400 hover:decoration-neutral-500 dark:decoration-neutral-600 dark:hover:decoration-neutral-500 transition-colors decoration-[1.25px]">inquiries@parsify.eu</a></p>
			<p>USt-IdNr.: DE460405289</p>
		</div>
	</section>

	<section class="grid gap-2 text-sm">
		<h3 class="text-xs font-mono font-light uppercase text-neutral-600 dark:text-neutral-400 select-none cursor-default">Inhaltlich verantwortlich (§ 18 Abs. 2 MStV)</h3>

		<div>
			<p>Antoni Kępiński</p>
			<p>Heubnerweg 11A</p>
			<p>14059 Berlin</p>
			<p>Deutschland</p>
		</div>
	</section>

	<section class="grid gap-2 text-sm">
		<h3 class="text-xs font-mono font-light uppercase text-neutral-600 dark:text-neutral-400 select-none cursor-default">Urheberrecht</h3>

		<p>&copy; 2026 Antoni Kępiński</p>
	</section>
</Layout>
