---
const props = Astro.props;
---

<>
	<a {...props} target="_blank" class='underline font-medium transition decoration-gray-400 hover:decoration-gray-500 dark:decoration-gray-600 dark:hover:decoration-gray-500 cursor-pointer'><slot/></a>
	<style>
		a {
			text-underline-position: from-font;
			text-decoration-thickness: .15rem;
		}
	</style>
</>