---
const props = Astro.props;
---

<a {...props} target="_blank" class='underline font-medium transition-colors decoration-neutral-400 hover:decoration-neutral-500 dark:decoration-neutral-600 dark:hover:decoration-neutral-500 cursor-pointer decoration-[1.25px]'><slot/></a>