---
import '../styles/global.css';

import type { MarkdownLayoutProps } from 'astro';
import { Font } from 'astro:assets';

import Background from '../components/Background.astro';
import Content from '../components/Content.astro';

type Props = MarkdownLayoutProps<{
	title: string;
}>;

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, viewport-fit=cover" />
		<title>{frontmatter.title} | Antoni Kępiński</title>
		<Font cssVariable="--font-whyte" preload />
		<Font cssVariable="--font-favorit-mono" preload />
		<meta name="description" content="Personal website of Antoni Kępiński, a software engineer based in Berlin, Germany." />
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site).href} />
		<meta property="og:image" content="https://www.xxczaki.com/og.jpg" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="600" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@xxczaki" />
		<meta name="twitter:creator" content="@xxczaki" />
		<link rel="icon" href="me.jpg" />
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="#e5e5e5" />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#171717" />
		<link rel="manifest" href="manifest.json" />
		{frontmatter.title === 'Impressum' && <meta name="robots" content="noindex, nofollow" />}
		<script is:inline type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "ProfilePage",
				"mainEntity": {
					"@type": "Person",
					"url": "https://www.xxczaki.com",
					"image": "https://www.xxczaki.com/me.jpg",
					"name": "Antoni Kępiński",
					"alternateName": "xxczaki",
					"description": "Software Engineer",
					"jobTitle": "Software Engineer",
					"worksFor": {
						"@type": "Organization",
						"name": "Kombo",
						"url": "https://kombo.dev"
					},
					"sameAs": [
						"https://x.com/xxczaki",
						"https://bsky.app/profile/xxczaki.com",
						"https://github.com/xxczaki",
						"https://www.linkedin.com/in/xxczaki"
					]
				}
			}
		</script>
	</head>
	<body class="bg-neutral-200 text-neutral-700 dark:bg-neutral-900 dark:text-neutral-300 min-h-screen font-sans text-pretty">
		<Background />
		<div class="relative z-10 w-full flex justify-center pt-8 p-4 pb-[max(1rem,env(safe-area-inset-bottom))]">
			<Content>
				<slot />
			</Content>
		</div>
		{frontmatter.title !== 'Impressum' && <a href="/impressum" class="fixed bottom-[max(1rem,env(safe-area-inset-bottom))] right-[max(1rem,env(safe-area-inset-right))] z-10 text-sm text-neutral-500 hover:text-neutral-600 dark:text-neutral-500 dark:hover:text-neutral-400 transition-colors select-none underline decoration-neutral-400 hover:decoration-neutral-500 dark:decoration-neutral-600 dark:hover:decoration-neutral-500 decoration-[1.25px]">Impressum</a>}
	</body>
</html>
<style is:global>
	::selection {
		background-color: var(--color-neutral-700);
		color: var(--color-neutral-200);

		@media (prefers-color-scheme: dark) {
    		background-color: var(--color-neutral-300);
    		color: var(--color-neutral-900);
  		}
	}
</style>
