---
import '../styles/global.css';

import type { MarkdownLayoutProps } from 'astro';
import { Font } from 'astro:assets';

import Content from '../components/Content.astro';

type Props = MarkdownLayoutProps<{
	title: string;
}>;

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{frontmatter.title} | Antoni Kępiński</title>
		<Font cssVariable="--font-whyte" preload />
		<Font cssVariable="--font-favorit-mono" preload />
		<meta name="description" content="Personal website of Antoni Kępiński, a software enginner based in Warsaw, Poland." />
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href="https://www.xxczaki.com" />
		<meta property="og:image" content="https://www.xxczaki.com/og.jpg" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@xxczaki" />
		<meta name="twitter:creator" content="@xxczaki" />
		<link rel="icon" href="me.jpg" />
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="#e5e5e5" />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#171717" />
		<link rel="manifest" href="manifest.json" />
		<script is:inline type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "ProfilePage",
				"mainEntity": {
					"@type": "Person",
					"image": "https://www.xxczaki.com/me.jpg",
					"name": "Antoni Kępiński",
					"alternateName": "xxczaki",
					"description": "Software Engineer",
					"sameAs": [
						"https://x.com/xxczaki",
						"https://github.com/xxczaki",
						"https://www.linkedin.com/in/xxczaki"
					]
				}
			}
		</script>
	</head>
	<body class="bg-neutral-200 text-neutral-700 dark:bg-neutral-900 dark:text-neutral-300 min-h-screen h-full font-sans w-full flex justify-center pt-8 p-4 text-pretty">
			<Content>
				<slot />
			</Content>
	</body>
</html>
<style is:global>
	::selection {
		background-color: var(--color-neutral-700);
		color: var(--color-neutral-200);

		@media (prefers-color-scheme: dark) {
    	background-color: var(--color-neutral-300);
  	}

		@media (prefers-color-scheme: dark) {
    	color: var(--color-neutral-900);
  	}
	}
</style>
