---
import type { MarkdownLayoutProps } from 'astro';

import Content from '../components/Content.astro';

type Props = MarkdownLayoutProps<{
	title: string;
}>;

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{frontmatter.title} | Antoni Kępiński</title>
		<link rel="preload" href="/fonts/ABCWhyteVariableEdu.woff2" crossorigin as="font" type="font/woff2">
		<link rel="preload" href="/fonts/PlayfairItalicVF.woff2" crossorigin as="font" type="font/woff2">
		<link rel="preload" href="/fonts/ABCFavoritMonoVariableEdu.woff2" crossorigin as="font" type="font/woff2">
		<meta name="description" content="Personal website of Antoni Kępiński, a full stack developer and entrepreneur based in Warsaw, Poland." />
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href="https://www.xxczaki.com" />
		<meta property="og:image" content="https://www.xxczaki.com/og.jpg"/>
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:site" content="@xxczaki"/>
		<meta name="twitter:creator" content="@xxczaki"/>
		<link rel="icon" href="me.png"/>
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="#e5e5e5"/>
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#171717"/>
		<link rel="manifest" href="manifest.json"/>
		<script is:inline type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "ProfilePage",
				"mainEntity": {
					"@type": "Person",
					"image": "https://www.xxczaki.com/me.png",
					"name": "Antoni Kępiński",
					"alternateName": "xxczaki",
					"description": "Full Stack Developer, Entrepreneur",
					"sameAs": [
						"https://x.com/xxczaki",
						"https://github.com/xxczaki",
						"https://www.linkedin.com/in/xxczaki"
					]
				}
			}
		</script>
	</head>
	<body class="bg-gray-200 text-gray-700 dark:bg-gray-900 dark:text-gray-300 min-h-screen h-full font-sans w-full flex justify-center pt-8 p-4 text-pretty">
			<Content>
				<slot />
			</Content>
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Whyte';
		font-weight: 400 500;
		font-display: optional;
		src: url('/fonts/ABCWhyteVariableEdu.woff2') format('woff2-variations');
	}

	@font-face {
		font-family: 'Playfair';
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/PlayfairItalicVF.woff2') format('woff2-variations');
	}

	@font-face {
		font-family: 'Favorit Mono';
		font-weight: 300;
		font-display: swap;
		src: url('/fonts/ABCFavoritMonoVariableEdu.woff2') format('woff2-variations');
	}

	::selection {
		@apply bg-gray-700 text-gray-200 dark:bg-gray-300 dark:text-gray-900
	}
</style>
